<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- Parallel tesing to run test case in Parallel in this suite -->
<suite name="Suite" parallel="tests" thread-count="2">
	<test thread-count="5" name="Test">

		<classes>
			<class name="com.qa.basicAnnoatation.InvocationCountAndInvocationTimeOut" />
			<class name="com.qa.basicAnnoatation.TimeOutTest" />
			<class name="com.qa.basicAnnoatation.TestCaseDependancy" />
			<class name="com.qa.assertion.SoftHardAssertion" />
			<class name="com.qa.basicAnnoatation.Priority" />
			<class name="com.qa.basicAnnoatation.DependsOnMethods" />
			<class name="com.qa.assertion.SimpleAssertion" />
			<class name="com.qa.basicAnnoatation.BasicTestNGAnnotations" />
			<class
				name="com.qa.basicAnnoatation.ThreadPoolSizeIgnoredWithoutInvocationCount" />
			<class name="com.qa.retryFailedTCUsingIRetryAnalyzer.TestNGFailedXML" />
			<class name="com.qa.retryFailedTCUsingListener.TestCase" />
			<class name="com.qa.basicAnnoatation.TestNGPriority" />
			<class name="com.qa.testNGListerner.TestNGListenerUsage" />
			<class name="com.qa.retryFailedTCUsingIRetryAnalyzer.TestCase" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
